<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/app.css' />
  </head>
  <body>
    <div class="container text-center">
      <h1 ><%= title %></h1>

      <h4 id="trainerText" style="display:none;">Play input sequence and wait 2s</h4>

      <button id="trainerBtn" class='btn btn-primary' type="button" name="button">Trainer</button>
      <button id="saveBtn" class='btn btn-primary' type="button" name="button"  style="display:none;">Save & train</button>
    </div>



    <script type="text/javascript" src="/js/app.js"></script>
  </body>
</html>
